/* App */
@font-face {
  font-family: "Bahamas";
  src: url(./fonts/bahamas-pragmatica.otf);
}

body {
  font-family: Roboto;
  margin: 0;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-20 {
  font-size: 20px;
}
.f-17-only {
  font-size: 17px;
}
.f-17 {
  font-size: 17px;
  line-height: 18px;
}
.wrapper {
  display: grid;
}
*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}
@media (min-width: 960px) {
  .container-fluid {
    padding: 0 50px !important;
  }
  .d-postmd-none {
    display: none;
  }
}
.register {
  margin-right: 15px;
}
@media (min-width: 1024px) {
  .register span:after,
  .login span:after {
    display: none;
  }
}
@media (max-width: 958px) {
  .d-premd-none {
    display: none;
  }
  .d-premd-block {
    display: block;
  }
}
.action-counter {
  background-color: #a038e3;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  text-align: center;
}
.action-counter span {
  font-style: italic;
  font-weight: 900;
  font-size: 11px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* App end */
@media (min-width: 800px) {
  .download_block {
    margin-top: 60px;
  }
}
/* Media */
@media screen and (min-width: 768px) {
  .col-premd-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .text-premd-right {
    text-align: right;
  }
}
@media screen and (min-width: 959px) {
  .toogle-burger {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .header-sign-up {
    padding-right: 20px !important;
  }
}
@media screen and (max-width: 380px) {
  .col-min380-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 380px) and (max-width: 576px) {
  .col-576px-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 479px) {
  .header-sign-up {
    display: none;
  }
  .col-380-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .text-380-left {
    text-align: left;
  }
  .text-380-center {
    text-align: center;
  }
  .col-380-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .text-640-center {
    text-align: center;
  }
  .d-640-none {
    display: none;
  }
}
@media screen and (max-width: 640px) and (min-width: 480px) {
  .col-presm-8 {
    flex: 0 0 66.6666666667% !important;
    max-width: 66.6666666667% !important;
  }
  .col-presm-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important;
  }
}
/* Media */

/* Elements */
.button-fill {
  color: #171717;
  width: max-content;
  border: 1px solid #e6ce76;
  background-color: #ffdc1c;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.button-fill.submit {
  padding: 10px 35px;
  font-size: 1.4em;
}
.button-fill::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 40px;
  height: 40px;
  background: #ffedaf;
  border-radius: 50px;
}
.button-fill:hover::before {
  -webkit-transform: scale(8.3);
  transform: scale(8.3);
}
.button-empty {
  cursor: pointer;
  color: #171717;
  width: max-content;
  border: 1px solid #6c6c6c;
  background-color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.button-empty::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 40px;
  height: 40px;
  background: #f9f8f8;
  border-radius: 50px;
}
.button-empty:hover::before {
  -webkit-transform: scale(8.3);
  transform: scale(8.3);
}
.button-fill a,
.button-empty a {
  text-decoration: none;
  color: #171717;
}
.input-text,
.input-phone {
  border-radius: 50px;
  height: 42px;
  border: 1px solid #b9b9b9;
  padding: 0 22px;
  font-size: 16px;
  color: #171717;
}
.input-password {
  border-radius: 50px;
  height: 42px;
  border: 1px solid #b9b9b9;
  padding: 0 22px;
  font-size: 16px;
  color: #171717;
}
.input {
  position: relative;
}
.input .toggle-show-password {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.input-error {
  border: 1px solid #f9c8c8;
  margin-bottom: 15px;
}
input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
input[type="checkbox"] ~ label {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 7px;
}
input[type="checkbox"]:checked ~ label::after {
  content: "";
  top: -3px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 7px;
  height: 10px;
  border: solid #9509ef;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.input-error-label {
  position: absolute;
  color: #d36161;
  font-size: 12px;
  bottom: -13px;
  right: 15px;
  padding-left: 7px;
  border-top: 1px solid #f9c8c8;
}
.input-error-label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  transform: rotateZ(45deg);
  border-top: 1px solid #f9c8c8;
  top: -6px;
  left: -12.5px;
}
.filter {
  padding: 10px 50px;
}
.filter-input-title {
  line-height: 16px;
  padding: 0 10px 0 0;
}
.filter-open {
  display: inline;
  color: #a038e3;
}
.filter-actions {
  text-align: right;
  margin: 0 !important;
}
.filter-line {
  margin-top: 15px;
}
.filter-line h5 {
  font-size: 14px;
  font-weight: normal;
}
.filter div.col-md-4 {
  margin-bottom: 10px;
}
.notification-item {
  padding-bottom: 12px;
  font-size: 14px;
}
.notification-item .border-top {
  border-top: 1px solid #dddddd;
  width: 100%;
  margin-bottom: 12px;
}
.notification-item .date,
.notification-item .readble {
  color: #6c6c6c;
}
.notification-item.unreadble .action-read {
  cursor: pointer;
}
.notification-item.unreadble .text-notification {
  font-weight: bold;
}
.notification-item .time {
  margin-left: 11px;
}
.notification-item * {
  display: inline-block;
}
/* Elements end */

/* Header */
.header {
  height: 88px;
}
.header-content {
  height: 100%;
  margin: 0 !important;
}
.header-logo {
  padding: 3.5px 0;
  height: 88px;
}
.header-logo-img {
  margin: 0 auto;
  display: block;
}
.header-navigation {
  height: 100%;
  padding: 0 !important;
}
.header-navigation nav {
  height: 100%;
}
.header-navigation ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header-navigation ul li {
  display: inline-block;
  height: 100%;
}
.header-navigation ul li a {
  display: inline-block;
  color: #322f2f;
  padding: 34px 10px;
  height: 100%;
  transition: 0.2s;
}
header ~ div {
  min-height: 55vh;
}
.register span {
  position: relative;
  z-index: 1;
}
.register-form .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
.register-form > .tabs {
  margin-bottom: 10px;
}
.register-form > *:not(.tabs) {
  margin-bottom: 19px;
  margin-top: 0;
}
.register > span:after {
  /* content: ""; */
  padding: 19px 24px;
  z-index: -1;
  height: unset;
  right: 0;
  width: 10px;
  position: absolute;
  background-color: #ffdc1c;
  -moz-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -webkit-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -o-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -ms-transform: translate(9px, 0px) skew(-15deg, 0deg);
  transform: translate(9px, 0px) skew(-15deg, 0deg);
}

.login span {
  position: relative;
  z-index: 1;
}
.login > span:after {
  /* content: ""; */
  padding: 18px 24px;
  z-index: -1;
  left: -13px;
  width: 5px;
  position: absolute;
  border: 1px solid #6c6c6c;
  border-right: 0;
  background-color: #fff;
  -moz-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -webkit-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -o-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -ms-transform: translate(9px, 0px) skew(-15deg, 0deg);
  transform: translate(9px, 0px) skew(-15deg, 0deg);
}
.toogle-burger {
  padding: 35px 0;
}
.header-navigation ul li a:hover {
  color: #ad2dff;
}
.footer_list ul li a:hover {
  text-decoration: underline;
}
.header-navigation ul li a.active {
  color: #ad2dff;
}
.header-feedback {
  width: 230px;
  padding: 25px 0;
  cursor: pointer;
}
.header-feedback-number {
  display: block;
  color: #3f3c3c;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
.header-feedback-label {
  display: block;
  color: #a038e3;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 5px;
}
.header-sign-up {
  padding: 23px 0;
}
.toogle-burger .bm-item a {
  width: 100%;
  text-align: left !important;
  padding: 7px 0;
  transition: all 0.2s;
  display: block;
  color: #fff;
}
.toogle-burger .seperator {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.toogle-burger .bm-item a.active {
  color: #ffdc1c !important;
}
.header-profile {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.header-profile-name {
  text-align: right;
}
.profile-menu {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  left: 0;
  right: 0px;
  top: 85px;
  margin: auto;
  width: max-content;
}
.profile-menu::after {
  content: "";
  position: absolute;
  top: -16px;
  right: 16px;
  border: 8px solid transparent;
  border-bottom: 9px solid #fff;
}
.profile-menu::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 16px;
  border: 8px solid transparent;
  border-bottom: 9px solid #eee;
}
.profile-menu-item {
  position: relative;
  width: 170px;
  border-bottom: 1px solid #ddd;
  padding: 11px 14px;
  padding-left: 44px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 999;
}
.profile-menu a {
  color: #171717;
}
.profile-menu-item img {
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.profile-menu-additionally {
  width: 80px;
  height: 30px;
  border-radius: 50px;
  background-color: #f7f7f7;
  color: #171717;
  margin: 10px auto;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  padding: 7px 0;
}
.profile-menu a:hover {
  color: #9509ef;
}
.profile-menu-item:hover img {
  filter: invert(22%) sepia(99%) saturate(7342%) hue-rotate(277deg)
    brightness(93%) contrast(111%);
}
.header-profile-arrow-down img {
  display: block;
  margin: 20px 8px;
}
.header-additionals {
  padding: 23px 0;
}
.more-menu {
  cursor: pointer;
  padding: 34px 10px;
  display: inline-block;
  /* display: none; */
}
.more-menu img {
  vertical-align: middle;
}
.more-menu:hover .submenu {
  display: block;
}
.more-menu .submenu {
  position: absolute;
  display: none;
  z-index: 2;
  width: max-content;
  background-color: #f9f8f8;
  padding: 19px 14px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.more-menu .submenu li {
  display: block;
}
.more-menu .submenu li a {
  padding: 5px 10px;
}
.header-fast-access {
  padding: 0 15px 0;
  display: flex;
}
.header-fast-access .fast-access-btn {
  display: flex;
  padding: 0 10px;
  transition: box-shadow 0.2s;
  cursor: pointer;
  background-color: none;
  align-items: center;
  position: relative;
}
.header-fast-access .fast-access-btn .action-counter {
  top: 31px;
  right: 3px;
}
.header-fast-access .fast-access-btn img {
  transition: all 0.2s;
}
.header-fast-access .fast-access-btn:hover img {
  filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1));
}
/* Header end */

/* Footer */
.footer {
  background: #f7f7f7;
  font-size: 12px;
}
.social_link hover {
  filter: invert(98%) sepia(42%) saturate(0%) hue-rotate(312deg)
    brightness(120%) contrast(98%);
}
.footer_list {
  height: fit-content;
}

.footer_list ul {
  list-style: none;
  padding-left: 0;
}
.footer_list .title-ul {
  font-weight: 500;
}
.footer_list ul a:not(.mail) {
  color: #4f4f4f;
}
.footer_list a:not(.mail) {
  text-decoration: none;
  color: #000;
}
a.mail {
  color: #a038e3;
}
.postscript {
  color: #6c6c6c;
  font-size: 12px;
}
.download_link > img {
  width: 107px;
}
/* footer end */

/* Main page */
.main-preview {
  background-color: #f9f8f8;
  height: max-content;
  padding: 0 35px 50px;
  margin: 0 !important;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main-title {
  font-family: Bahamas;
  font-size: 46px;
  margin: 0;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 70px;
}
.main-subtitle {
  font-size: 36px;
  color: #171717;
  font-weight: normal;
  margin: 0;
  line-height: 24px;
}
.list_href a {
  white-space: nowrap;
}
.list_href a:after {
  content: "»";
  margin-left: 3px;
}
.main-description-title {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-top: 35px;
}
.main-description-subtitle {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.main-preview-register {
  margin-top: 30px;
}
.main-image-block {
  align-items: center;
  display: flex;
}
@media screen and (max-width: 575px) {
  .header-sign-up {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .mb-custom {
    margin-bottom: 19px;
  }
  .main-image-block {
    display: none;
  }
  .main-advantage-label {
    display: none;
  }
  .main-preview {
    text-align: center;
  }
  .main-description-title {
    margin-top: 16px;
  }
}
@media screen and (max-width: 401px) {
  .main-preview-register span {
    margin: 0 !important;
  }
}
@media screen and (max-width: 356px) {
  .main-preview-register span.button-fill,
  .main-preview-register span.button-empty {
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 991px) {
  .footer-logo-img {
    width: 100%;
  }
  .main-description-title {
    font-size: 18px;
  }
  .pl-custom {
    padding-left: 80px !important;
  }
  .main-subtitle {
    font-size: 24px;
  }
  .main-preview {
    padding: 0 0px 50px 0px;
  }
  .main-preview .row.col-12 {
    margin: 0 !important;
  }
}
.main-previewimage {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  width: 100%;
  max-width: 470px;
  align-self: center;
}
.main-advantage {
  margin-top: 40px;
}
.main-advantage-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  color: #171717;
}
.main-advantage-label {
  line-height: 18px;
  margin: 0;
  font-size: 14px;
  color: #171717;
}
.main-profitably {
  padding: 0 50px !important;
  border: 0;
  padding-bottom: 70px !important;
}
.main-profitably hr {
  border: 0;
  border-top: 1px solid #6c6c6c;
  margin: 0;
}
.main-profitably h3 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
.main-profitably-block {
  padding: 0 100px !important;
}
.main-profitably h5 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
  color: #171717;
  position: relative;
  padding-left: 40px;
}
.main-profitably-image {
  position: absolute;
  left: 0;
  top: 1px;
}
.main-profitably p {
  color: #6c6c6c;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 40px;
}
.main-questions {
  height: 350px;
  background-color: #f9f8f8;
  position: relative;
  padding: 0 35px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main-questions h3 {
  color: #171717;
  text-align: center;
  margin: 50px 0;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: normal;
}
/* Main slider */
.parent {
  width: 85%;
  overflow: hidden;
  margin: auto;
  padding: 1rem;
}
.slider-container {
  /* if you want to have a scrollbar, you can add overflow here */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 164px;
}
.btn-block {
  position: absolute;
  cursor: pointer;
  width: 42px;
  height: 20px;
  text-align: center;
  top: 58px;
  right: 50px;
}
.btn-block .btn-prev {
  display: inline-block;
  margin-right: 10px;
}
.btn-block .btn-next {
  display: inline-block;
  margin-left: 10px;
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}
.disable {
  opacity: 0.5;
  pointer-events: none;
}
.child-questions {
  flex: 0 0 25%;
  padding: 0 50px;
  cursor: pointer;
  position: relative;
  height: 100%;
}
.child-questions,
.child-questions * {
  transition: 0.2s;
}
.child-question {
  background: #ffffff;
  border-radius: 22px;
  padding: 0 40px;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 0px 0px #dddddd;
}
.child-question-text {
  display: none;
}
.child-questions:hover .child-question {
  height: 160px;
  padding: 0 20px;
}
.child-questions:hover .child-question-text {
  display: inline;
  text-align: left;
}
.child-questions:hover .child-question-title {
  display: none;
}
.child-preview-img {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background-color: #ad2dff;
  position: absolute;
  left: calc(50% - 17px);
  right: 0;
  bottom: -64px;
}
.child-questions:hover .child-preview-img {
  left: calc(100% - 44px);
  right: 5px;
  bottom: 10px;
  background-color: #dddddd;
}
.child-preview-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* Main slider end */
.main-cities {
  height: max-content;
  min-height: 620px;
  position: relative;
  padding: 0 50px;
}
@media screen and (max-width: 576px) {
  .main-cities {
    text-align: center;
    padding: 0 15px !important;
  }
  .main-cities-background {
    position: unset !important;
  }
  .main-cities h3 {
    margin-bottom: 24px !important;
  }
  .filter {
    padding: 10px 15px;
  }
  .cargo-page h1 {
    padding: 10px 15px !important;
  }
}
.main-cities h3 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px;
}
.main-cities-background {
  position: absolute;
  bottom: 56px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
}
.main-cities ul {
  padding: 0;
}
.main-cities ul li {
  list-style: none;
  color: #171717;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
.main-cities ul li:hover {
  color: #ad2dff;
}
/* Main end */

/* Articles */
.articles-block {
  padding: 0 50px;
}
.articles-block .row {
  margin: 0;
}
.articles-header {
  background-color: #f7f7f7;
  height: 50px;
  border-top: 1px solid #ddd;
  padding: 6px 0;
}
.articles-header div {
  padding: 0;
}
.articles-header span {
  font-size: 24px;
  color: #909090;
}
.article-block {
  border-top: 1px solid #ddd;
  padding: 12px 0;
}
.article-block span {
  color: #171717;
  font-size: 14px;
}
.article-block div {
  padding: 0;
}
.article-actions {
  text-align: right;
}
/* Articles end */

/* FAQ */
.faq-page {
  border-top: 1px solid #6c6c6c;
  margin-bottom: 50px;
}
.faq-title {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
}
.faq-question {
  margin-top: 60px;
}
.faq-question h4 {
  margin: 0;
  margin-bottom: 10px;
  min-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.faq-question ul {
  margin: 0;
  padding: 0;
}
.faq-question ul li {
  list-style: none;
}
.faq-question ul li a {
  font-size: 16px;
  color: #9509ef;
}
/* FAQ end */

/* Login page */
.login-page {
  border-top: 1px solid #6c6c6c;
}
.login-title {
  font-size: 24px;
  color: #171717;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
@media (max-width: 1412px) and (min-width: 1200px) {
  .login-form {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}
.login-form > * {
  margin-top: 0;
  margin-bottom: 20px;
}
.login-form .bottom {
  border-bottom: 1px solid #dddddd;
}
.input-login {
  width: 420px;
  display: block;
  height: 40px;
  border: 1px solid #b9b9b9;
  border-radius: 50px;
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 22px;
}
/* Login end */

/* Register page */
.register-page {
  border-top: 1px solid #6c6c6c;
}
.tabs .tab.active {
  text-decoration: underline;
  color: #000;
}
.tabs .tab {
  color: #909090;
  cursor: pointer;
}
.register-title {
  font-size: 24px;
  color: #171717;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
.simple_select_city {
  padding: 8px 35px;
  background-color: #f9f8f8;
  border-radius: 20px;
  border: 1px solid #eeeeee;
}
.input-register {
  width: 420px;
  display: block;
  height: 40px;
  border: 1px solid #b9b9b9;
  border-radius: 50px;
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 22px;
}
.simple_select_city {
  cursor: pointer;
  position: relative;
  color: #909090;
}
.simple_select_city.active {
  color: #171717;
}
.simple_select_city.active::before {
  content: "";
  top: -3px;
  left: 20px;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 7px;
  height: 10px;
  border: solid #9509ef;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.select > div > div:first-child {
  padding: 4px 15px;
}
a.href {
  color: #9509ef;
}
/* Register end */

/* About */
.about-page {
  border-top: 1px solid #6c6c6c;
  padding: 50px;
}
.about-page h1 {
  margin-top: 0;
  font-size: 24px;
  color: #171717;
  font-weight: normal;
}
.about-page ul {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.about-page ul li {
  list-style: none;
  line-height: 20px;
}
.about-page ul li a {
  font-size: 16px;
  color: #9509ef;
}
.about-page h3 {
  font-size: 16px;
  color: #171717;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
.about-page h4 {
  font-size: 14px;
  color: #171717;
  font-weight: normal;
  margin: 0;
}
.about-page p {
  font-size: 14px;
  color: #6c6c6c;
  font-weight: normal;
  margin: 0;
}
.about-page p span {
  color: #171717;
}
.about-page hr {
  border-top: 1px solid #dddddd;
  height: 0;
  margin: 30px 0;
}
/* About end */

/* Cargo */
.cargo-page {
  border-top: 1px solid #6c6c6c;
}
.cargo-page .faq-questions {
  padding: 0 50px;
  margin: 0 !important;
  padding-bottom: 50px;
}
.cargo-page h1 {
  font-size: 24px;
  color: #171717;
  font-weight: normal;
  margin: 0;
  padding: 10px 50px;
  margin-top: 40px;
}
.cargo-pros {
  padding: 24px 50px 8px 50px;
  background-color: #f9f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0 !important;
}
.cargo-pros-image-block {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 2px solid #322f2f;
  border-radius: 50px;
  position: relative;
}
.cargo-pros-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.cargo-pros-label {
  text-align: center;
  font-size: 16px;
  color: #000;
}
.cargo-steps {
  padding: 50px 50px 0 50px;
}
.cargo-steps h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.cargo-steps-block {
  margin: 35px 0;
  justify-content: center;
}
.cargo-step {
  background-color: #f7f7f7;
  height: 60px;
  background-clip: content-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0 !important;
  margin: 0 45px 0 15px;
  display: flex;
  align-items: center;
  min-width: 260px;
  max-width: 300px !important;
  position: relative;
  margin-bottom: 15px;
}
.cargo-step::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid #f7f7f7;
  position: absolute;
  top: 0;
  right: -40px;
}
.cargo-step-number {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  position: absolute;
  border: 1px solid #dddddd;
  box-shadow: 10px 3px 10px -14px #000;
  display: inline-block;
}
.cargo-step-number span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  font-size: 36px;
  color: #b9b9b9;
  font-weight: 900;
}
.cargo-step-label {
  padding: 0 0px 0 75px;
  margin: 0;
  height: max-content;
}
/* Cargo end */
/* carrier */
.carrier-page {
  border-top: 1px solid #6c6c6c;
}
.carrier-page h1 {
  font-size: 24px;
  color: #171717;
  font-weight: normal;
  margin: 0;
  padding: 10px 50px;
  margin-top: 40px;
}
.carrier-page .faq-questions {
  padding: 0 50px;
  margin: 0 !important;
  padding-bottom: 50px;
}
.carrier-pros {
  padding: 24px 50px 8px 50px;
  background-color: #f9f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0 !important;
}
.carrier-pros-image-block {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 2px solid #322f2f;
  border-radius: 50px;
  position: relative;
}
.carrier-pros-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.carrier-pros-label {
  text-align: center;
  font-size: 16px;
  color: #000;
}
.yellow-text {
  color: #ffdc1c;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
}
.w-85px {
  width: 85px;
}
.yellow-text ~ p {
  color: #6c6c6c;
  white-space: nowrap;
}
.carrier-steps,
.carrier-div {
  padding: 50px 50px 0 50px;
}
.carrier-steps h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.carrier-steps-block {
  margin: 35px 0;
  justify-content: center;
}
.carrier-step {
  background-color: #f7f7f7;
  height: 60px;
  background-clip: content-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0 !important;
  margin: 0 45px 0 15px;
  display: flex;
  align-items: center;
  min-width: 260px;
  max-width: 300px !important;
  position: relative;
  margin-bottom: 15px;
}
.carrier-step::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid #f7f7f7;
  position: absolute;
  top: 0;
  right: -40px;
}
.carrier-step-number {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  position: absolute;
  border: 1px solid #dddddd;
  box-shadow: 10px 3px 10px -14px #000;
  display: inline-block;
}
.carrier-step-number span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  font-size: 36px;
  color: #b9b9b9;
  font-weight: 900;
}
.carrier-step-label {
  padding: 0 0px 0 75px;
  margin: 0;
  line-height: 16px;
  height: max-content;
}
/* carrier end */

/* SideNav start */
.side-nav {
  width: max-content;
  background-color: #4f4f4f;
  padding: 0 !important;
}
.side-nav-item {
  position: relative;
  width: 100%;
  padding: 15px 22px;
  padding-left: 60px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 999;
}
.side-nav a {
  color: #fff;
  display: block;
  transition: all 0.2s;
}
.side-nav a:hover {
  background-color: #6c6c6c;
}
.side-nav .active {
  background-color: #6c6c6c;
}
.side-nav-item img {
  display: inline-block;
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.2s;
  filter: invert(90%) sepia(32%) saturate(2%) hue-rotate(213deg)
    brightness(108%) contrast(100%);
}
/* SideNav end */

/* Lk start */
.lk-page {
  margin: 0 !important;
  border-top: 1px solid #dddddd;
}
.lk-page .title {
  color: #171717;
  font-size: 20px;
  font-weight: normal;
}
.lk-page .subtitle {
  color: #171717;
  font-size: 16px;
  font-weight: normal;
}
/* Lk end */

/* Notifications */
.notification_groups {
  margin-bottom: 20px;
}
.readble_col {
  float: right;
}
.notification_groups .notification_group.active {
  background-color: #ffdc1c;
}
.notification_groups .notification_group:first-child {
  margin-left: 0;
}
.notification_groups .notification_group {
  background: #eeeeee;
  display: inline-block;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
  cursor: pointer;
  padding: 10px 20px;
  min-width: 90px;
  text-align: center;
  margin: 0 15px;
}
/* End Notifications */
/* NotificationSettings */
.user-settings {
  margin-bottom: 21px;
}
.user-settings .filed-label {
  width: 195px;
  font-size: 14px;
  line-height: 16px;
}
.user-settings .gray {
  color: #6c6c6c;
}
.user-settings .fields-checkbox > *:last-child {
  margin-left: 28px;
}
.common-settings
{
  border-top: 1px solid #DDDDDD; 
}
.common-settings .setting-title
{
  margin-top: 20px;
  margin-bottom: 15px;
}
.setting-title {
  font-size: 16px;
  line-height: 19px;
  height: 19px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 21px;
}
.float-right
{
  float: right;
}
/* End NotificationSettings */
