/* App */
@font-face {
  font-family: "Bahamas";
  src: url(./fonts/bahamas-pragmatica.otf);
}
.header-logo img {
  margin-left: -10px;
}
body {
  font-family: Roboto;
  margin: 0;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.f-12 {
  font-size: 12px;
}
.f-16 {
  font-size: 16px;
}
.f-14 {
  font-size: 14px;
}
.f-20 {
  font-size: 20px;
}
.f-17-only {
  font-size: 17px;
}
.f-17 {
  font-size: 17px;
  line-height: 18px;
}
.f-18 {
  font-size: 18px;
  line-height: 19px;
}
.wrapper {
  display: grid;
}
*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}
@media (min-width: 960px) {
  .container-fluid {
    padding: 0 50px !important;
  }
  .d-postmd-none {
    display: none;
  }
}
.register {
  margin-right: 15px;
}

@media (min-width: 1024px) {
  .side-nav .toogle-sideBar {
    display: none;
  }
  .register span:after,
  .login span:after {
    display: none;
  }
}
@media (max-width: 958px) {
  .d-premd-none {
    display: none;
  }
  .d-premd-block {
    display: block;
  }
}
.action-counter {
  background-color: #a038e3;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  text-align: center;
}
.action-counter span {
  font-style: italic;
  font-weight: 900;
  font-size: 11px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* App end */
@media (min-width: 800px) {
  .download_block {
    margin-top: 60px;
  }
}
/* Media */
@media (min-width: 768px) and (max-width: 992px) {
  .fixed760 {
    min-width: 270px;
  }
  .search-tabs {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .search-tabs {
    font-size: 20px;
  }
  .col-premd-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .article-block .row div,
  .articles-header .row > .row {
    padding: 0;
  }
  .article-block .row > .row:first-child > div:first-child,
  .article-block .row > .row:last-child > div:last-child,
  .articles-header .row > .row:last-child > div:last-child,
  .articles-header .row > .row:first-child > div:first-child {
    padding-left: 0;
  }
  .articles-header .row > .row > div,
  .article-block .row > .row > div {
    padding: 0 15px;
  }
  .text-premd-right {
    text-align: right;
  }
}
@media screen and (min-width: 959px) {
  .toogle-burger {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .header-sign-up {
    padding-right: 20px !important;
  }
}
.MuiInputBase-input {
  padding: 0 !important;
}
.MuiInput-underline:after,
.MuiInput-underline:before {
  border: 0 !important;
}
@media screen and (max-width: 380px) {
  .col-min380-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 380px) and (max-width: 576px) {
  .col-576px-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 479px) {
  .col-480-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 479px) {
  .header-sign-up {
    display: none;
  }
  .col-380-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .text-380-left {
    text-align: left;
  }
  .text-380-center {
    text-align: center;
  }
  .col-380-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .d-380 {
    display: none;
  }
}
.article-block .row > .row > div > span {
  margin-bottom: 25px;
}
.article-block .row > .row > div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 773px) {
  .articles-header div {
    padding: 0;
  }
  .article-block .row > .row > div {
    padding: 0;
  }
  .text-640-center {
    text-align: center;
  }
  .background-gray-768 {
    background-color: #f7f7f7;
  }
  .d-640-none {
    display: none;
  }
}
.background-gray {
  background-color: #f7f7f7;
}
@media screen and (max-width: 640px) and (min-width: 480px) {
  .col-presm-8 {
    flex: 0 0 66.6666666667% !important;
    max-width: 66.6666666667% !important;
  }
  .col-presm-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important;
  }
}
/* Media */

/* Elements */
.button-fill {
  color: #171717;
  width: max-content;
  border: 1px solid #e6ce76;
  background-color: #ffdc1c;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.button-fill.submit {
  padding: 10px 35px;
  font-size: 1.4em;
}
.button-fill::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 40px;
  height: 40px;
  background: #ffedaf;
  border-radius: 50px;
}
.button-fill:hover::before {
  -webkit-transform: scale(8.3);
  transform: scale(8.3);
}
.hover-underline:hover {
  text-decoration: underline;
}
.button-empty {
  cursor: pointer;
  color: #171717;
  width: max-content;
  border: 1px solid #6c6c6c;
  background-color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.button-empty::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 40px;
  height: 40px;
  background: #f9f8f8;
  border-radius: 50px;
}
.button-empty:hover::before {
  -webkit-transform: scale(8.3);
  transform: scale(8.3);
}
.button-fill a,
.button-empty a {
  text-decoration: none;
  color: #171717;
}
input[type="time"]::-webkit-clear-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}
input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
input::-webkit-calendar-picker {
  display: block;
}
/* Firefox */
input[type="number"],
input[type="date"],
input[type="time"] {
  -moz-appearance: textfield;
}
.input-time {
  text-align: center;
}
.input-text,
.input-phone,
.input-time,
.input-date,
.input-number {
  border-radius: 50px;
  height: 42px;
  border: 1px solid #b9b9b9;
  background-color: #fff;
  padding: 0 20px;
  font-size: 16px;
  color: #171717;
  font-family: Roboto;
}
.input-password {
  border-radius: 50px;
  height: 42px;
  border: 1px solid #b9b9b9;
  padding: 0 22px;
  font-size: 16px;
  color: #171717;
}
.input {
  position: relative;
}
.input .toggle-show-password {
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 28px;
  top: 0;
  height: 42px;
}
.input .toggle-show-password img {
  margin: auto;
}
.input-error {
  border: 1px solid #f9c8c8;
  margin-bottom: 15px;
}
input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
input[type="checkbox"] ~ label {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 7px;
  background-color: #fff;
}

.input-date {
  max-width: 130px;
}
.single-char {
  max-width: 50px !important;
}
.fixed-width {
  max-width: 85px !important;
}
input[type="checkbox"]:checked ~ label::after,
.left-angle:before {
  content: "";
  top: -3px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 7px;
  height: 12px;
  border: solid #9509ef;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.status-passport > p.active {
  filter: contrast(0.1);
}
.status-passport > p:first-child {
  margin-top: 5px;
}
.status-passport > p {
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
}
.status-passport > p img {
  margin-right: 7px;
}
.input-error-label {
  position: absolute;
  color: #d36161;
  font-size: 12px;
  bottom: -13px;
  right: 15px;
  padding-left: 7px;
  border-top: 1px solid #f9c8c8;
}
.input-error-label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  transform: rotateZ(45deg);
  border-top: 1px solid #f9c8c8;
  top: -6px;
  left: -12.5px;
}
@media (min-width: 1024px) {
  .filter {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .filter {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .filter .filter-button {
    max-width: 166px;
  }
}
.filter-input-title {
  line-height: 16px;
  padding: 0 5px 0 0;
  font-size: 14px;
}
.filter-open {
  display: inline;
  color: #a038e3;
}
.filter-actions {
  text-align: right;
  display: inline-block;
  margin-top: 30px !important;
}
.lh-20 {
  line-height: 20px !important;
}
.mobile.filter-button {
  max-width: 175px;
}
.filter-line > * {
  margin-top: 15px;
  margin-bottom: 0;
}

.filter-close {
  position: absolute;
  top: 0;
  right: 30px;
}
.filter-line .check-list > div {
  margin: 0 30px 15px 0;
}

.budjet_div {
  max-width: 250px !important;
}

.filter-line h5 {
  font-size: 14px;
  font-weight: normal;
}
@media (max-width: 380px) {
  .colspan-input {
    max-width: 320px;
  }
}
@media (min-width: 380px) {
  .colspan-input {
    max-width: 380px;
  }
}
.colspan-input {
  display: flex;
}
.colspan-input input {
  padding: 0 5px;
}
.colspan-input > .input:nth-child(1) input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.colspan-input > .input:nth-child(1):after,
.colspan-input > .input:nth-child(2):after {
  content: "-";
  height: 42px;
  display: flex;
  border: 1px solid #b9b9b9;
  border-left: none;
  border-right: none;
  align-items: center;
}
.colspan-input > .input:nth-child(2) input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.colspan-input > .input:nth-child(3) input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.notification-item {
  padding-bottom: 12px;
  font-size: 14px;
}
.notification-item .border-top {
  border-top: 1px solid #dddddd;
  width: 100%;
  margin-bottom: 12px;
}
.notification-item .date,
.notification-item .readble {
  color: #6c6c6c;
}
.notification-item.unreadble .action-read {
  cursor: pointer;
}
.notification-item.unreadble .text-notification {
  font-weight: bold;
}
.notification-item .time {
  margin-left: 11px;
}
.notification-item * {
  display: inline-block;
}
/* Elements end */

/* Header */
.header {
  height: 88px;
}
.header-content {
  height: 100%;
  margin: 0 !important;
}
.header-logo {
  padding: 3.5px 0;
  height: 88px;
}
@media (min-width: 992px) {
  .header-logo {
    padding-right: 40px;
  }
}
@media (max-width: 992px) {
  .header-logo {
    padding-right: 0px;
  }
}
.header-logo-img {
  margin: 0 auto;
  display: block;
}
.header-navigation {
  height: 100%;
  font-size: 14px;
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.header-navigation nav {
  height: 100%;
}
.header-navigation ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header-navigation ul li {
  display: inline-block;
  height: 100%;
}
.header-navigation ul li a {
  display: inline-block;
  color: #322f2f;
  padding: 34px 8px;
  height: 100%;
  transition: 0.2s;
}
header ~ div {
  min-height: 55vh;
}
.register span {
  position: relative;
  z-index: 1;
}
.register-form .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
.register-form > .tabs {
  margin-bottom: 10px;
}
.register-form > *:not(.tabs) {
  margin-bottom: 15px;
  margin-top: 0;
}
.register > span:after {
  /* content: ""; */
  padding: 19px 24px;
  z-index: -1;
  height: unset;
  right: 0;
  width: 10px;
  position: absolute;
  background-color: #ffdc1c;
  -moz-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -webkit-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -o-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -ms-transform: translate(9px, 0px) skew(-15deg, 0deg);
  transform: translate(9px, 0px) skew(-15deg, 0deg);
}

.login span {
  position: relative;
  z-index: 1;
}
.login > span:after {
  /* content: ""; */
  padding: 18px 24px;
  z-index: -1;
  left: -13px;
  width: 5px;
  position: absolute;
  border: 1px solid #6c6c6c;
  border-right: 0;
  background-color: #fff;
  -moz-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -webkit-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -o-transform: translate(9px, 0px) skew(-15deg, 0deg);
  -ms-transform: translate(9px, 0px) skew(-15deg, 0deg);
  transform: translate(9px, 0px) skew(-15deg, 0deg);
}
.toogle-burger {
  padding: 35px 0;
}
.header-navigation ul li a:hover {
  color: #ad2dff;
}
.footer_list ul li a:hover {
  text-decoration: underline;
}
.header-navigation ul li a.active {
  color: #ad2dff;
}
.header-feedback {
  width: 200px;
  padding: 25px 0;
  cursor: pointer;
}
.header-feedback-number {
  display: block;
  color: #3f3c3c;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
.header-feedback-label {
  display: block;
  color: #a038e3;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
.header-sign-up {
  padding: 23px 0;
}
.toogle-burger .bm-item a {
  width: 100%;
  text-align: left !important;
  padding: 7px 0;
  transition: all 0.2s;
  display: block;
  color: #fff;
}
.toogle-burger .seperator {
  width: 100%;
  height: 1px;
  background-color: #737373;
}
.toogle-burger .bm-item a.active {
  color: #ffdc1c !important;
}
.profile-page {
  padding-bottom: 40px;
}
.header-profile {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.header-profile-name {
  text-align: right;
}
.pop-block {
  width: 216px;
  left: 0;
}
.profile-menu {
  width: max-content;
  right: -9px;
}
.profile-input-fixed > div {
  max-width: 320px;
}
.defaultPassport {
  width: 100px;
  height: 70px;
}
.adress-input .row > * {
  margin-bottom: 10px;
}
.adress-input .row span {
  display: inline-block;
  min-width: 80px;
}
.profile-menu,
.pop-block {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  z-index: 3;
  border-radius: 10px;
  top: 85px;
  margin: auto;
}
.profile-menu::after {
  content: "";
  position: absolute;
  top: -16px;
  right: 16px;
  border: 8px solid transparent;
  border-bottom: 9px solid #fff;
}
.pop-block:after {
  content: "";
  position: absolute;
  top: -16px;
  left: 11px;
  border: 8px solid transparent;
  border-bottom: 9px solid #fff;
}
.profile-menu::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 16px;
  border: 8px solid transparent;
  border-bottom: 9px solid #eee;
}
.pop-block::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 11px;
  border: 8px solid transparent;
  border-bottom: 9px solid #eee;
}
.profile-menu-item {
  padding-left: 44px !important;
}
.pop-block-item:hover {
  color: #9509ef;
}
.profile-menu-item,
.pop-block-item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 11px 14px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 999;
}
.profile-menu a,
.pop-block a {
  color: #171717;
}
.profile-menu-item img {
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.profile-menu-additionally,
.pop-block-additionally {
  width: 80px;
  height: 30px;
  border-radius: 50px;
  background-color: #f7f7f7;
  color: #171717;
  margin: 10px auto;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  padding: 7px 0;
}
.profile-menu a:hover {
  color: #9509ef;
}
.profile-menu-item:hover img {
  filter: invert(22%) sepia(99%) saturate(7342%) hue-rotate(277deg)
    brightness(93%) contrast(111%);
}
.header-profile-arrow-down img {
  display: block;
  margin: 20px 8px;
}
.header-additionals {
  padding: 23px 0;
}
.more-menu {
  cursor: pointer;
  padding: 34px 10px;
  display: inline-block;
  /* display: none; */
}
.more-menu img {
  vertical-align: middle;
}
.more-menu:hover .submenu {
  display: block;
}
.more-menu .submenu {
  position: absolute;
  display: none;
  z-index: 2;
  width: max-content;
  background-color: #f9f8f8;
  padding: 19px 14px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.more-menu .submenu li {
  display: block;
}
.more-menu .submenu li a {
  padding: 5px 10px;
}
.header-fast-access {
  padding: 0 15px 0;
  display: flex;
}
.fast-access-btn.notifications.not-empty:hover img {
  filter: invert(10%) sepia(99%) saturate(1250%) hue-rotate(338deg)
    brightness(106%) contrast(103%) drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1));
}
.fast-access-btn.notifications.not-empty img {
  filter: invert(10%) sepia(99%) saturate(1250%) hue-rotate(338deg)
    brightness(106%) contrast(103%);
}
.fast-access-btn.messages.not-empty:hover img {
  filter: invert(10%) sepia(36%) saturate(735%) hue-rotate(196deg)
    drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1));
}
.fast-access-btn.messages.not-empty img {
  filter: invert(10%) sepia(36%) saturate(735%) hue-rotate(196deg)
    brightness(105%) contrast(101%);
}
.header-fast-access .fast-access-btn {
  display: flex;
  padding: 0 10px;
  transition: box-shadow 0.2s;
  cursor: pointer;
  background-color: none;
  align-items: center;
  position: relative;
}
.header-fast-access .fast-access-btn .action-counter {
  top: 31px;
  right: 3px;
}
.header-fast-access .fast-access-btn img {
  transition: all 0.2s;
}
.fast-access-btn.messages:not(.not-empty):hover img,
.fast-access-btn.notifications:not(.not-empty):hover img {
  filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1));
}
/* Header end */

/* Footer */
.footer {
  background: #f7f7f7;
  font-size: 12px;
}
.social_link hover {
  filter: invert(98%) sepia(42%) saturate(0%) hue-rotate(312deg)
    brightness(120%) contrast(98%);
}
.footer_list {
  height: fit-content;
}

.footer_list ul {
  list-style: none;
  padding-left: 0;
}
.footer_list .title-ul {
  font-weight: 500;
}
.footer_list ul a:not(.mail) {
  color: #4f4f4f;
}
.footer_list a:not(.mail) {
  text-decoration: none;
  color: #000;
}
a.mail {
  color: #a038e3;
}
.postscript {
  color: #6c6c6c;
  font-size: 12px;
}
.download_link > img {
  width: 107px;
}
/* footer end */

/* Main page */
.main-preview {
  background-color: #f9f8f8;
  height: max-content;
  padding: 0 35px 50px;
  margin: 0 !important;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main-title {
  font-family: Bahamas;
  font-size: 46px;
  margin: 0;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 70px;
}
.main-subtitle {
  font-size: 36px;
  color: #171717;
  font-weight: normal;
  margin: 0;
  line-height: 24px;
}
.list_href a {
  white-space: nowrap;
}
.list_href a:after {
  content: "»";
  margin-left: 3px;
}
.main-description-title {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.main-description-subtitle {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.main-preview-register {
  margin-top: 30px;
}

.button-fill,
.button-empty {
  line-height: 18px;
}
.main-preview-register > a > span {
  width: 200px;
}
.MuiPickersClockPointer-thumb {
  border-color: #ffdc1c !important;
}
.MuiPickersToolbar-toolbar,
.MuiPickersClockPointer-pointer,
.MuiPickersDay-daySelected {
  background-color: #ffdc1c !important;
}
@media (max-width: 991px) {
  .filter-close {
    display: block;
  }
  .filter-open {
    display: none;
  }
}
.filter .settingsSvg {
  width: 28px;
  height: 28px;
  fill: #000;
  cursor: pointer;
}
.filter .settingsSvg:hover {
  fill: #ad2dff;
}
@media (max-width: 767px) {
  .main-preview-register > a > span > span,
  .main-description-title {
    font-size: 14px;
  }
  .main-preview-register > a > span {
    width: 155px;
  }
}
@media (max-width: 639px) {
  .main-preview-register > a > span {
    width: 175px;
  }
  .main-image-block {
    display: none;
  }
  .main-text-block {
    text-align: center;
  }
  .main-description-title {
    margin-top: 13px;
  }

  .main-advantage-label {
    display: none;
  }
}
@media (min-width: 480px) {
  .search-tabs {
    padding-top: 50px;
  }
  .main-advantage-title {
    font-size: 20px;
  }
  .main-advantage-title img {
    width: 22px;
    vertical-align: middle;
  }
}
@media (max-width: 479px) {
  .search-tabs {
    padding-top: 16px;
    font-size: 14px;
  }
  .main-description-subtitle {
    display: none;
  }
  .main-preview-register {
    text-align: center;
  }
  .main-advantage-title {
    font-size: 14px;
  }
  .main-advantage-title img {
    width: 21px;
    vertical-align: middle;
  }
  .main-preview-register > a {
    display: block;
    width: max-content;
    margin: 0 auto;
  }
  .main-preview-register > a:last-child {
    margin-top: 14px;
  }
}
@media (min-width: 640px) {
  .main-description-title {
    margin-top: 35px;
  }
  .main-text-block {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .main-image-block {
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .header-sign-up {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .mb-custom {
    margin-bottom: 19px;
  }
  .main-image-block {
    display: none;
  }
  .main-preview {
    text-align: center;
  }
  .main-description-title {
    margin-top: 16px;
  }
}
@media screen and (max-width: 401px) {
  .main-preview-register span {
    margin: 0 !important;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .main-description-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .footer-logo-img {
    width: 100%;
  }

  .pl-custom {
    padding-left: 80px !important;
  }
  .main-subtitle {
    font-size: 24px;
  }
  .main-preview {
    padding: 0 0px 50px 0px;
  }
  .main-preview .row.col-12 {
    margin: 0 !important;
  }
}
.main-previewimage {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  width: 100%;
  max-width: 470px;
  align-self: center;
}
.search-button {
  max-width: 220px !important;
}
.main-advantage {
  margin-top: 20px;
}
.main-advantage-title {
  white-space: nowrap;
}
.main-advantage-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: normal;
  color: #171717;
}
.main-advantage-label {
  line-height: 18px;
  margin: 0;
  font-size: 14px;
  color: #171717;
}
.main-profitably {
  padding: 0 50px !important;
  border: 0;
  padding-bottom: 70px !important;
}
.main-profitably hr {
  border: 0;
  border-top: 1px solid #6c6c6c;
  margin: 0;
}
.main-page hr {
  border: none;
  background-color: #6c6c6c;
  height: 1px;
}
.carrier-page hr,
.cargo-page hr {
  border: none;
  background-color: #b9b9b9;
  height: 1px;
}
.main-profitably h3 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
.main-profitably-block {
  padding: 0 100px !important;
}
.main-profitably h5 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
  color: #171717;
  position: relative;
  padding-left: 40px;
}
.main-profitably-image {
  position: absolute;
  left: 0;
  top: 1px;
}
.main-profitably p {
  color: #6c6c6c;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 40px;
}

.main-questions {
  height: 350px;
  background-color: #f9f8f8;
  position: relative;
  padding: 0 35px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main-questions h3 {
  color: #171717;
  text-align: center;
  margin: 50px 0;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: normal;
}
/* Main slider */
.parent {
  width: 85%;
  overflow: hidden;
  margin: auto;
  padding: 1rem;
}
.slider-container {
  /* if you want to have a scrollbar, you can add overflow here */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 164px;
}
.btn-block {
  position: absolute;
  cursor: pointer;
  width: 42px;
  height: 20px;
  text-align: center;
  top: 58px;
  right: 30px;
}
.btn-block .btn-prev {
  display: inline-block;
  margin-right: 10px;
}
.btn-block .btn-next {
  display: inline-block;
  margin-left: 10px;
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}
.disable {
  opacity: 0.5;
  pointer-events: none;
}
.child-questions {
  flex: 0 0 25%;
  padding: 0 50px;
  cursor: pointer;
  position: relative;
  height: 100%;
}
.child-questions,
.child-questions * {
  transition: 0.2s;
}
.child-question {
  background: #ffffff;
  border-radius: 22px;
  padding: 0 40px;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 0px 0px #dddddd;
}
.child-question-text {
  opacity: 0;
  position: absolute;
  transition: opacity 0s;
}
.child-questions:hover .child-question {
  height: 160px;
  padding: 0 20px;
}
.child-questions:hover .child-question-text {
  display: inline;
  position: relative;
  text-align: left;
  opacity: 1;
  transition: opacity 0.8s;
}
.child-questions:hover .child-question-title {
  display: none;
}
.child-preview-img {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background-color: #ad2dff;
  position: absolute;
  left: calc(50% - 17px);
  right: 0;
  bottom: -64px;
}
.child-questions:hover .child-preview-img {
  left: calc(100% - 44px);
  right: 5px;
  bottom: 10px;
  background-color: #dddddd;
}
.child-preview-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* Main slider end */
.main-cities {
  height: max-content;
  position: relative;
  line-height: 16px;
  padding: 0 50px 40px 50px;
  overflow: hidden;
}
.filter {
  position: relative;
}
.main-cities ul li {
  text-align: center;
}
.main-cities-item {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-cities-item:nth-child(3) {
  margin-left: auto;
}
@media (min-width: 992px) {
  .filter-close {
    display: none;
  }
  .filter-open {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .search-tabs {
    font-size: 14px;
    padding-top: 16px;
  }
}
@media (min-width: 768px) {
  .main-cities-item {
    flex: 0 0 17%;
    max-width: 17%;
  }
}
.go-to-pro {
  text-decoration: underline;
  color: #171717;
}
@media (min-width: 640px) and (max-width: 773px) {
  .main-cities-item {
    flex: 0 0 23%;
    max-width: 23%;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .main-cities-item {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .main-cities-background {
    position: unset !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-cities-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .main-cities-background {
    position: unset !important;
  }
}
@media screen and (max-width: 1024px) {
  .main-cities {
    text-align: center;
    padding: 0 15px 40px 15px !important;
  }
}
@media screen and (max-width: 576px) {
  .main-cities h3 {
    margin-bottom: 24px !important;
  }
  .filter {
    padding: 10px 15px;
    padding-top: 0;
  }
  .standart-page h1 {
    padding: 10px 15px !important;
  }
}
.main-cities h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 80px;
}
.main-cities-background {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
}
.main-cities ul {
  padding: 0;
}
.main-cities ul li {
  list-style: none;
  color: #171717;
  font-size: 14px;
  margin-bottom: 14px;
}
.main-cities ul li:hover {
  color: #ad2dff;
}
/* Main end */

/* Articles */
.moreinfo_block {
  overflow: hidden;
  margin-top: 40px !important;
}
.height-animation-enter {
  opacity: 0;
  margin-top: 0 !important;
  max-height: 0;
}
.height-animation-enter.height-animation-enter-active {
  opacity: 1;
  margin-top: 40px !important;
  transition: all 0.3s;
  max-height: 300px;
}
.height-animation-leave {
  opacity: 1;
  margin-top: 40px !important;
  max-height: 300px;
}
.height-animation-leave.height-animation-leave-active {
  opacity: 0;
  margin-top: 0 !important;
  max-height: 0;
  transition: all 0.3s;
}
.height-animation-item-enter {
  opacity: 0;
  max-height: 0;
}
.height-animation-item-enter.height-animation-item-enter-active {
  opacity: 1;
  transition: all 0.3s;
  max-height: 300px;
}
.height-animation-item-leave {
  opacity: 1;
  max-height: 300px;
}
.height-animation-item-leave.height-animation-item-leave-active {
  opacity: 0;
  max-height: 0;
  transition: all 0.3s;
}
@media (min-width: 1024px) {
  .search-tabs {
    font-size: 24px;
  }
  .articles-header,
  .article-block {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .article-block,
  .articles-header {
    padding: 0 15px;
  }
}
.articles-block .row {
  margin: 0;
}
.articles-header {
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 13px;
  line-height: 23px;
}

.articles-header span {
  font-size: 20px;
  color: #909090;
}
@media (max-width: 960px) {
  .articles-header span {
    font-size: 14px;
  }
  .articles-header {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 16px;
  }
}
.article-block .moreinfo_block .fio {
  white-space: pre-line;
}
.article-block .moreinfo_block .property-user {
  margin-right: 20px;
  display: inline-block;
}
.article-block .moreinfo_block .property-user img {
  margin-right: 5px;
}
.article-block .title-column {
  color: #919191;
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  margin-bottom: 5px;
}

.left-angle {
  margin: 0 20px;
  position: relative;
}
.left-angle:before {
  right: unset !important;
  left: -16px !important;
}
.get-article {
  min-width: 116px;
  line-height: 15px;
}
.article-block {
  border-top: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 16px;
}
.article-block .moreinfo {
  margin-top: auto;
  position: relative;
  transition: all 0.3s;
}
.article-block span {
  color: #171717;
  font-size: 14px;
}
.article-actions {
  text-align: right;
}
/* Articles end */

/* FAQ */
.faq-page {
  border-top: 1px solid #6c6c6c;
  margin-bottom: 50px;
}
.faq-title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.faq-question {
  margin-top: 40px;
  margin-bottom: 20px;
}
.faq-question h4 {
  margin: 0;
  margin-bottom: 10px;
  min-height: 25px;
  font-size: 20px;
  white-space: nowrap;
  font-weight: normal;
}
.faq-question ul {
  margin: 0;
  padding: 0;
  line-height: 19px;
}
.faq-question ul li {
  list-style: none;
}
.faq-question ul li a {
  font-size: 16px;
  color: #9509ef;
}
/* FAQ end */

/* Login page */
.login-page {
  border-top: 1px solid #6c6c6c;
}
.login-title {
  font-size: 24px;
  color: #171717;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
@media (max-width: 1412px) and (min-width: 1200px) {
  .login-form {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}
.login-form > * {
  margin-top: 0;
  margin-bottom: 20px;
}
.login-form .bottom {
  border-bottom: 1px solid #dddddd;
}
.input-login {
  width: 420px;
  display: block;
  height: 40px;
  border: 1px solid #b9b9b9;
  border-radius: 50px;
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 22px;
}
/* Login end */

/* Register page */
.register-page {
  border-top: 1px solid #6c6c6c;
}
.tabs .tab.active,
.tabs .tab.active * {
  text-decoration: underline;
  color: #000;
}
.tabs .tab {
  color: #909090;
  cursor: pointer;
}
.register-title {
  font-size: 24px;
  color: #171717;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
.simple_select_city {
  padding: 8px 35px;
  background-color: #f9f8f8;
  border-radius: 20px;
  border: 1px solid #eeeeee;
}
.input-register {
  width: 420px;
  display: block;
  height: 40px;
  border: 1px solid #b9b9b9;
  border-radius: 50px;
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 22px;
}
.simple_select_city {
  cursor: pointer;
  position: relative;
  color: #909090;
}
.simple_select_city.active {
  color: #171717;
}
.simple_select_city.active::before {
  content: "";
  top: -3px;
  left: 15px;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 7px;
  height: 10px;
  border: solid #9509ef;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
a.href,
a.href span {
  color: #9509ef;
}

/* Register end */

/* About */
.about-page {
  border-top: 1px solid #6c6c6c;
  padding: 50px;
}
.about-page h1 {
  margin-top: 0;
  font-size: 24px;
  color: #171717;
  font-weight: normal;
}
.about-page ul {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.about-page ul li {
  list-style: none;
  line-height: 20px;
}
.about-page ul li a {
  font-size: 16px;
  color: #9509ef;
}
.about-page h3 {
  font-size: 16px;
  color: #171717;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
.about-page h4 {
  font-size: 14px;
  color: #171717;
  font-weight: normal;
  margin: 0;
}
.about-page p {
  font-size: 14px;
  color: #6c6c6c;
  font-weight: normal;
  margin: 0;
}
.about-page p span {
  color: #171717;
}
.about-page hr {
  border: none;
  border-top: 1px solid #dddddd;

  height: 0;
  margin: 30px 0;
}
/* About end */

/* Cargo */
.cargo-page {
  border-top: 1px solid #6c6c6c;
}
.cargo-page .faq-questions {
  padding: 0 50px;
  margin: 0 !important;
  padding-bottom: 50px;
}

.cargo-pros {
  padding: 24px 50px 8px 50px;
  background-color: #f9f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0 !important;
}
.cargo-pros-image-block {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 2px solid #322f2f;
  border-radius: 50px;
  position: relative;
}
.cargo-pros-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.cargo-pros-label {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.cargo-steps {
  padding: 50px 50px 0 50px;
}
.cargo-steps h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.cargo-steps-block {
  margin: 35px 0;
  justify-content: center;
}
.cargo-step {
  background-color: #f7f7f7;
  height: 60px;
  background-clip: content-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0 !important;
  margin: 0 45px 0 15px;
  display: flex;
  align-items: center;
  min-width: 200px;
  max-width: 268px !important;
  position: relative;
  margin-bottom: 15px;
}
.cargo-step::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid #f7f7f7;
  position: absolute;
  top: 0;
  right: -40px;
}
.cargo-step-number {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  position: absolute;
  border: 1px solid #dddddd;
  box-shadow: 10px 3px 10px -14px #000;
  display: inline-block;
}
.cargo-step-number span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  font-size: 36px;
  color: #b9b9b9;
  font-weight: 900;
}
.cargo-step-label {
  padding: 0 0px 0 75px;
  margin: 0;
  height: max-content;
}
/* Cargo end */
/* carrier */
.carrier-page,
.tarrifs-page,
.nomatch-page,
.search-page,
.application-page {
  border-top: 1px solid #6c6c6c;
}
.standart-page h1 {
  font-size: 24px;
  color: #171717;
  font-weight: normal;
  margin: 0;
  padding: 10px 50px;
  margin-top: 40px;
}
.carrier-page .faq-questions {
  padding: 0 50px;
  padding-bottom: 50px;
}
.carrier-pros {
  padding: 24px 50px 8px 50px;
  background-color: #f9f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0 !important;
}
.carrier-pros-image-block {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 2px solid #322f2f;
  border-radius: 50px;
  position: relative;
}
.carrier-pros-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.carrier-pros-label {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.yellow-text {
  color: #ffdc1c;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
}
.w-85px {
  width: 85px;
}
.yellow-text ~ p {
  color: #6c6c6c;
  white-space: nowrap;
}
.application-div {
}
.carrier-steps,
.carrier-div {
  padding: 50px 50px 0 50px;
}
.carrier-steps h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.carrier-steps-block {
  margin: 35px 0;
  justify-content: center;
}
.carrier-step {
  background-color: #f7f7f7;
  height: 60px;
  background-clip: content-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0 !important;
  margin: 0 27px 0 22px;
  display: flex;
  align-items: center;
  min-width: 200px;
  max-width: 210px !important;
  position: relative;
  margin-bottom: 15px;
}
.carrier-step::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid #f7f7f7;
  position: absolute;
  top: 0;
  right: -40px;
}
.carrier-step-number {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  position: absolute;
  border: 1px solid #dddddd;
  box-shadow: 10px 3px 10px -14px #000;
  display: inline-block;
}
.carrier-step-number span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  font-size: 36px;
  color: #b9b9b9;
  font-weight: 900;
}
.carrier-step-label {
  padding: 0 0px 0 75px;
  margin: 0;
  line-height: 16px;
  height: max-content;
}
/* carrier end */

/* SideNav start */
@media (min-width: 1024px) {
  .content.col {
    padding-left: 0;
    padding-right: 0;
  }
  .side-nav .side-nav-item img {
    margin-right: 22px;
  }
}
@media (max-width: 1024px) {
  .content {
    padding-right: 0 !important;
    padding-left: 54px !important;
  }
  .side-nav {
    position: absolute;
    z-index: 3;
    height: 100%;
  }
  .side-nav:not(.open) .side-nav-item > span {
    display: none;
  }
  .side-nav:not(.open) .side-nav-item {
    padding: 15px 16px;
    text-align: center;
  }
  .side-nav:not(.open) .side-nav-item img {
    position: relative;
    left: 0;
  }
  .side-nav.open .side-nav-item img {
    margin-right: 22px;
  }
  .side-nav .toogle-sideBar {
    position: absolute;
    cursor: pointer;
    right: -16px;
    height: 61px;
    width: 16px;
  }
  .side-nav .toogle-sideBar img.angle {
    position: absolute;
    top: -4px;
    bottom: 0;
    right: 5px;
    margin: auto;
    transform: rotate(180deg);
  }
  .side-nav.open .toogle-sideBar img.angle {
    transform: rotate(0);
  }
}
@media (max-width: 800px) {
  .content {
    padding-right: 0 !important;
    padding-left: 10px !important;
  }
  .side-nav:not(.open) .side-nav-item > img {
    display: none;
  }
  .side-nav:not(.open) .side-nav-item {
    padding: 15px 5px;
    text-align: center;
  }
}
.side-nav {
  width: 230px;
  background-color: #4f4f4f;
  padding: 0 !important;
}
.side-nav .parent-item .side-nav-item:not(.label) {
  padding-left: 35px;
}
.side-nav .children-list a.active {
  background-color: #282727;
}
.side-nav .children-list a {
  background-color: #322f2f;
}
.side-nav-item {
  position: relative;
  width: 100%;
  padding: 15px 22px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 999;
  display: flex;
}
.side-nav a,
.side-nav span {
  color: #fff;
  display: block;
  transition: all 0.2s;
  font-size: 12px;
}
.side-nav a:hover {
  background-color: #6c6c6c;
}
.side-nav .active {
  background-color: #6c6c6c;
}

.side-nav-item img {
  width: 16px;
  height: 16px;
  display: inline-block;
  transition: all 0.2s;
  filter: invert(90%) sepia(32%) saturate(2%) hue-rotate(213deg)
    brightness(108%) contrast(100%);
}
/* SideNav end */

/* Lk start */
.lk-page {
  margin: 0 !important;
  border-top: 1px solid #dddddd;
}
.lk-page .title {
  color: #171717;
  font-size: 20px;
  font-weight: normal;
}
.lk-page .subtitle {
  color: #171717;
  font-size: 16px;
  padding: 22px 0;
  margin: 0;
  font-weight: normal;
}
.avatar-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  vertical-align: middle;
}
/* Lk end */

/* Notifications */
.notification_groups {
  margin-bottom: 20px;
}
.readble_col {
  float: right;
}
.notification_groups .notification_group.active {
  background-color: #ffdc1c;
}
.notification_groups .notification_group:first-child {
  margin-left: 0;
}
.notification_groups .notification_group {
  background: #eeeeee;
  display: inline-block;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
  cursor: pointer;
  padding: 10px 20px;
  min-width: 90px;
  text-align: center;
  margin: 0 15px;
}
/* End Notifications */
/* NotificationSettings */
.user-settings {
  margin-bottom: 21px;
}
.user-settings .filed-label {
  width: 195px;
  font-size: 14px;
  line-height: 16px;
}
.user-settings .gray {
  color: #6c6c6c;
}
.bg-gray {
  background-color: #f7f7f7;
  border: 1px solid #eeeeee;
}
.user-settings .fields-checkbox > *:last-child {
  margin-left: 28px;
}
.common-settings {
  border-top: 1px solid #dddddd;
}
.common-settings .setting-title {
  margin-top: 20px;
  margin-bottom: 15px;
}
.setting-title {
  font-size: 16px;
  line-height: 19px;
  height: 19px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 21px;
}
.float-right {
  float: right;
}
/* End NotificationSettings */
/* Paginations */
.pagination {
  list-style: none;
  font-size: 14px;
  display: flex;
  padding: 0;
  line-height: 16px;
  justify-content: flex-end;
}
@media (max-width: 480px) {
  .pagination {
    justify-content: center;
  }
}
.pagination li {
  display: inline-block;
  color: #6c6c6c;
  padding: 11px;
}
.pagination li:not(.disabled):not(.active) {
  cursor: pointer;
}
.pagination li:not(.previous):not(.next) {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.pagination li.active {
  color: #171717;
}
.pagination li.previous,
.pagination li.next {
  border: 1px solid #dddddd;
}
.pagination li.previous a,
.pagination li.next a {
  vertical-align: middle;
  display: inline-flex;
}
.pagination li.previous {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pagination li.next {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Paginations */
/* TARIFS */
.tarrif {
  border-radius: 13px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  padding: 18px 17px;
}
.tarrif.yellow {
  background: #ffdc1c;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);
}
.tarrif .name {
  font-size: 12px;
  line-height: 13px;
  color: #919191;
}
.tarrif .price {
  display: block;
  margin-top: 12px;
  font-size: 20px;
  line-height: 23px;
  color: #322f2f;
}
.tarrif .tags {
  margin-top: 18px;
}
.tarrif .info {
  height: 141px;
}
.tarrif .tags span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #322f2f;
}
.tarrif .left-angle:before {
  border-color: #ffdc1c;
}
.tarrif.yellow .left-angle:before {
  border-color: #ffff;
}
.tarrif.yellow .sale {
  font-size: 12px;
  line-height: 14px;
  color: #322f2f;
}
.tarrif.yellow .name {
  color: #322f2f;
}
.tarrif.yellow .withoutSale {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
.tarrif-block {
  margin-bottom: 40px;
}
/* Application Page */
.application-page .row > div,
.nomatch-page .row > div {
  margin: auto;
}
@media (max-width: 768px) {
  .application-page .row > div > div {
    padding: 0 15px;
  }
  .application-page .row {
    text-align: center;
  }
  .application-page .row-3 > div,
  .application-page .row-2 > div {
    display: inline-block;
    font-size: 18px;
  }
  .application-page,
  .nomatch-page {
    padding-bottom: 50px;
  }
}
@media (max-width: 820px) {
  .nomatch-page .row > div {
    display: block;
    text-align: center;
  }
  .nomatch-page .row-3 > div,
  .nomatch-page .row-4 > div {
    display: inline-block;
    font-size: 20px;
  }
}
@media (min-width: 820px) {
  .nomatch-page {
    padding-bottom: 250px;
  }
  .nomatch-page .row > div {
    display: flex;
  }
  .nomatch-page .row > div > .carrier-div {
    padding: 0 13px;
  }
  .nomatch-page .row-3 {
    position: absolute;
    bottom: -50px;
    right: -200px;
    line-height: 23px;
  }
  .nomatch-page .row-3 > div:nth-child(1) {
    font-size: 20px;
  }
  .nomatch-page .row-3 > div:nth-child(2) {
    font-size: 20px;
    margin-left: 30px;
  }
  .nomatch-page .row-3 > div:nth-child(3) {
    font-size: 24px;
    margin-left: 70px;
  }
  .nomatch-page .row-4 {
    position: absolute;
    position: absolute;
    top: 30px;
    left: -250px;
    line-height: 23px;
  }
  .nomatch-page .row-4 > div:nth-child(1) {
    font-size: 20px;
  }
  .nomatch-page .row-4 > div:nth-child(2) {
    margin-left: 100px;
    font-size: 18px;
  }
  .nomatch-page .row-4 > div:nth-child(3) {
    margin-left: 50px;
    font-size: 16px;
  }
  .nomatch-page .row-4 > div:nth-child(4) {
    margin-left: 135px;
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .application-page {
    padding-bottom: 250px;
  }

  .application-page .row > div > div {
    padding: 0 13px;
  }
  .application-page .row-3 > div:nth-child(1) {
    font-size: 20px;
  }
  .application-page .row-3 > div:nth-child(2) {
    margin-left: 50px;
    font-size: 18px;
  }
  .application-page .row-3 > div:nth-child(3) {
    margin-left: 40px;
    font-size: 24px;
  }
  .application-page .row-3 > div:nth-child(1) {
    font-size: 20px;
  }
  .application-page .row-2 > div:nth-child(1) {
    font-size: 20px;
  }
  .application-page .row-2 > div:nth-child(2) {
    font-size: 26px;
  }
}

.application-page h1,
.nomatch-page h1 {
  margin-top: 17px;
  margin-bottom: 40px;
}

/*TARIFT PAGE */
.text-decode {
  margin-bottom: 45px;
  cursor: auto;
  width: auto;
}
.tarrifs-list .slider-wrapper {
  height: 250px;
}
@media (max-width: 576px) and (min-width: 400px) {
  .col-post-sm-6 {
    flex: 0 0 50%!important;
    max-width: 50%;
  }
}
.tarrifs-list .btn-block {
  top: -20px;
  right: 30px;
}
.tarrifs-page {
  padding-bottom: 150px !important;
}
/* LK ORDER-PAGE */
.lk-order-page .articles-block {
  margin-left: -15px;
  margin-right: -15px;
}
